.map {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5em;
    /*margin-top: 7em; */
    /*border: 1px solid #000000*/
}

.sort {
    display: flex;
    flex-direction: row;
    margin: 1em;
    padding-left: 2em;
    align-items: center;
    margin-top: 6em;
    color: #bbbbbb;
    /*border: 1px solid #000000*/
}

